.user{
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

button{
    background-color: #000000;
    color: white;
    border: solid;
    border-radius: 5px;
    padding: 20px;
    font-size: 15px;
    margin-top: 15px;
}

.user img{
    border-radius: 100px;
    padding: 5px;
}

.female{
    background-color: rgb(21, 121, 81);
    border-color: rgb(21, 121, 81);
}

.male{
    background-color: rgb(7, 101, 141);
    border-color: rgb(7, 101, 141);
}